@font-face {
    font-family: Doto;
    src: url(/meta/content/fonts/Doto-Regular.ttf);
}

@font-face {
    font-family: Whisper-Hearts;
    src: url(/meta/content/fonts/Whisper-Hearts.otf);
}

html {
    background: #B1EDFF;
    background: linear-gradient(180deg,rgba(177, 237, 255, 1) 0%, rgba(124, 83, 237, 1) 100%);
    color: #726fca;
}

body {
    margin: 0 auto;
    max-width: 900px;
    min-width: 440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    color: black;
}

h1 {
    font-size: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5px;
}

h2 {
    color: rgb(125, 70, 162);
    background: rgba(207, 244, 255, 0.26);
    box-shadow: 0 0 20px 10px rgba(124, 83, 237, 0.3);
    border-radius: 12px;
    padding: 8px 16px;
}

ul {
    padding: 0
}

li {
    list-style-type: none;
}

li h2 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    object-fit: inherit;
}

.fancy {
    font-family: Whisper-Hearts;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}